.postDesc {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.imgDesc {
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.75);
}

.btnDelete {
  background-color: rgba(255, 0, 0, 0.253);
  cursor: pointer;
  box-shadow: 0px 0px 3px 0px rgba(17, 36, 212, 0.75);
  width: 4rem;
  height: 1.8rem;
  border: 0;
}

.containerDesc{
  margin-top: 30vh;
}

.comments {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
}

.likeBtn {
  width: 2rem;
  font-size: 1.5rem;
  border: 0;
  background-color: white;
  cursor: pointer;
  /* display: block;
  width: var(--size);
  height: var(--size);
  cursor: pointer;
  border-radius: 999px;
  overflow: visible;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent; */
}

.postCommentBtnn {
  background-color: rgba(87, 87, 87, 0.253);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  border: 0;
  height: 2.4rem;
  width: 3rem;
  margin-left: 8px;
}

.inputComment {
  width: 15rem;
  height: 2.5rem;
}

.goBackBtn {
  border: 0;
  background-color: black;
  font-size: 2rem;
  cursor: pointer;

}