
 .vvv{
    
    width: 100%;
    height: 100vh ;
    background-repeat: no-repeat;
    background-size: cover;
  
   }
  
   .section-login{
       margin: 0 auto;
       display: flex;
       height: 100vh;
       width: 100%;
       align-content: center;
       align-items: center;
   }
   .login-box{
       margin: 0 auto;
   }
   .input-field p{
       color: orangered;
       font-size: 1.6rem;
   }
   .input-field input{
       width: 24rem;
       border: none;
       border-bottom: 1.3px solid orangered;
       font-size: 1.6rem;
       height: 2.6rem;
       padding: 0 1.2rem ;
       transition: all 100ms;
   }
   .input-field input:focus {
       outline: none;
       box-shadow: 0 0 20px 1px #c0c0c0;
       border-radius: 6px;
       transform: scale(1.05);
   }
   .login-box{
       background: #FFFFFFF2;
       padding: 4.6rem 2.6rem;
       border-radius: 12px;
       display: flex;
       justify-content: center;
       align-items: center;
   }
  
   .input-field{
       display: flex;
       flex-direction: column;
       gap: 0.4rem;
   }
  
   .register{
       color: orangered;
       font-size: 1.2rem;
   }
  
   .form{
       display: flex;
       flex-direction: column;
       gap: 1.6rem;
   }
  
  
   .btn{
       border: none;
       background: orangered;
       color: white;
       border-radius: 0.8rem;
       text-transform: uppercase;
       padding: 1.2rem 0;
       font-size: 1.2rem;;
       transition: all 300ms;
   }
   .btn:hover{
       transform: scale(1.05);
       box-shadow: 0 0 5px 1px #9a9a9a;
   }